<div id="<%= dom_id postagem %>">
  <p>
    <strong>Titulo:</strong>
    <%= postagem.titulo %>
  </p>

  <p>
    <strong>Data:</strong>
  <%= postagem.data.strftime("%d/%m/%Y") %>
  </p>

  <p>
    <strong>Conteudo:</strong>
    <%= postagem.conteudo %>
  </p>

</div>
