<% resource ||= postagem %>
  
  <div id="<%= dom_id postagem %>">
  <p>
    <strong>Titulo:</strong>
    <%= resource.titulo %>
  </p>

  <p>
    <strong>Data:</strong>
  <%= resource.data.strftime("%d/%m/%Y") %>
  </p>

  <p>
    <strong>Conteudo:</strong>
    <%= resource.try(:conteudo) %>
  </p>

</div>
